.direnv/
scripts/venv/
scripts/node_modules/
scripts/storage/
scripts/assets/POPS-binaries-main/
scripts/assets/OPL/boot.kelf
scripts/assets/OPL/system.cnf
scripts/assets/NHDDL/boot.kelf
scripts/assets/NHDDL/system.cnf
scripts/assets/extras/
scripts/assets/ps2str/
scripts/helper/genvmc
scripts/helper/.libs
games/ART/*.png
scripts/assets/HDD-OSD/
games/APPS/*.elf
games/APPS/*.ELF
scripts/tmp
scripts/assets/Hugopocked POPStarter Fixes (2023-08-11)/
logs/
*.log
*.gz
*.zip
*.st
*.iso
*.ISO
*.zso
*.ZSO
*.vcd
*.VCD
*.cue
*.cue
*.CUE
*.bin
*.BIN
*.json
*.mp3
*.m4a
*.flac
*.ogg
*.mp4
*.m4v
*.mov
*.mkv
*.avi
*.webm
*.mpg
*.mpeg
*.vob
*.ts
*.m2ts
*.mts
*.ogv
*.pss
*.psm
*.jpg
*.jpeg
*.tif
*.gig
*.bmp
*.tif
*.tiff
*.webp
*.heic
*.heif
*.rar
IOPRP252.IMG
POPS.ELF
gamepath.cfg
media.cfg
bnupdate.tar.gz
path.cfg
psbbn-unattended.conf
**/__pycache__/**
**.pyc
icons/**
